// Primary Color
$primary_color_1 : #5d46a0;
$primary_color_2 : rgb(6, 133, 172);
// Black & White
$black: #000000;
$white: #ffffff;

//// gradien background


//Borders


//Shadows

//Font-Sizes
$size-xx-small: 14px;
$size-x-small: 15px;
$size-small: 16px;
$size-regular: 18px;
$size-medium: 20px;
$size-larg: 24px;
$size-x-larg: 32px;
$size-xx-larg: 45px;

// Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
