a {
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    font-style: normal;
    &:hover {
        text-decoration: none;
    }
}

@include for-size(phone-only) {
    h1 {
        font-size: $size-x-larg;
    }
    h2,
    span {
        font-size: $size-larg;
    }
    h3 {
        font-size: $size-medium;
    }
    h4 {
        font-size: $size-regular;
    }
    h5 {
        font-size: $size-small;
    }
    h6 {
        font-size: $size-x-small;
    }
    p {
        font-size: $size-small;
        &.semi {
            font-size: $size-xx-small;
        }
        &.reg {
            font-size: $size-xx-small;
        }
        &.med {
            font-size: $size-x-small;
        }
        &.large {
            font-size: $size-regular;
        }
    }
}