.dashboard {
    .side_bar {
        background-color: #a688fc !important;
        height: 100vh;
        .item_menu {
            background-color: #a688fc;
            padding: 18px 10px;
            border-bottom: 1px solid white;
            &:hover {
                background-color: white;
                border-right: 7px solid #a688fc;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                color: $primary_color_1;
            }
        }
        a {
            color: white;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                color: $primary_color_2;
            }
        }
    }
    .centent_dashboard {
        width: 100%;
        text-align: -webkit-center;
        padding-top: 50px;
        button {
            padding: 17px 42px;
            margin-bottom: 50px;
            border-radius: 10Px;
            color: white;
            background-color: $primary_color_1;
            cursor: pointer;
            font-size: 25px;
            font-family: 'Poping-rugelar';
            &:hover {
                background-color: white;
                color: $primary_color_1;
                border: 1px solid $primary_color_1;
                outline: none;
            }
        }
        h1 {
            padding-bottom: 50px;
            font-family: 'RowanMaskide';
            font-size: 50px;
            color: $primary_color_1;
        }
        table {
            border: none;
            border-collapse: collapse;
            padding: 0;
            border-left: none;
            border-right: none;
            font-family: 'poping-Medium';
            th {
                background-color: #a688fc;
                color: white;
                padding: 10px 20px;
                text-align: center;
                font-size: 1rem;
                font-family: 'Poping-semibold';
                border: 1px solid black;
            }
            td {
                background-color: white;
                color: black;
                padding: 10px 20px;
                text-align: center;
                border: 1px solid black;
                font-family: 'Poping-rugelar';
                .icon_crud {
                    a {
                        padding: 0px 10px;
                        svg {
                            width: 35px;
                            height: 35px;
                            &:hover {
                                fill: $primary_color_1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.insert_data {
    width: 30%;
    border: 1px solid black;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 3px black;
    text-align: center;
    transform: translate(86%, -42%);
    position: fixed;
    background-color: white;
}